@font-face {
  font-family: 'JuliusSansOne-Regular';
  src: url('../fonts/JuliusSansOne/JuliusSansOne-Regular.ttf') format('woff2');
}

@font-face {
  font-family: 'Questrial-Regular';
  src: url('../fonts/Questrial/Questrial-Regular.ttf') format('woff2');
}

@font-face {
  font-family: 'Raleway-Regular';
  src: url('../fonts/Raleway/Raleway-VariableFont_wght.ttf') format('woff2');
}

@font-face {
  font-family: 'Jacques_Francois_Shadow';
  src: url('../fonts/Jacques_Francois_Shadow/JacquesFrancoisShadow-Regular.ttf') format('woff2');
}

@font-face {
  font-family: 'Enriqueta';
  src: url('../fonts/Enriqueta/Enriqueta-Regular.ttf') format('woff2');
}

@font-face {
  font-family: 'ArefRuqaa';
  src: url('../fonts/ArefRuqaa/ArefRuqaa-Regular.ttf') format('woff2');
}