.square-body {
  background-image: none;
  color: $square-bread-font-color;
  background-color: $square-background-color;
}

.square-header {
  grid-column: first / end;
  grid-row: row-start / row-start;
  display: grid;
  grid-template-columns: [first] 10% [second] auto [third] 5% [end];
  grid-template-rows: [row-start] auto [row-end];
  padding: 0 10%;
  border-bottom: 6px solid $square-title-font-color;
  background-image: url("../images/square_header.png") !important;
  color: $square-title-font-color;
}

.square-header .nav a {
  color: $square-title-font-color;
}

.square-title {
  margin-left: 2em;
  grid-column: first / end;
  grid-row: row-start / row-start;
  padding: 1.2em 2em 1em 0;
  line-height: 2rem;
}

.square-title h1 {
  font-weight: normal;
  font-size: 4em;
  line-height: 2.5rem;
  font-family: $font-square-title;
}

.square-body h2{
  background-image: none;
  background-color: $square-background-color;
  color: $square-bread-font-color;
}

.square-main {
  grid-column: second / third;
  grid-row: row2-start / row3-start;
  padding: 3em;
  font-family: $font-square-main;
}

.square-main a {
  color: $square-bread-font-color;
}

.square-button {
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 30px;
  padding: 10px;
  background-color: rgb(224, 216, 200);
  text-decoration: none;
  background-color: $square-dark-accent-color;
}

.square-main h1 {
  border-bottom: 4px double $square-title-font-color;
  font-family: $font-square-h;
  line-height: 1.7;
}

.square-footer {
  grid-column: first / end;
  grid-row: row3-start / row-end;
  display: grid;
  grid-template-columns: [first] 60% [second] auto [end];
  grid-template-rows: [row-start] auto [row-end];
  padding: 0 10%;
  background: linear-gradient($square-background-color, 35%, $square-dark-accent-color) ;
}

.square-footer a {
  color: $square-bread-font-color;
}

.table-rules,
.table-rules th,
.table-rules td {
  padding: 10px;
  border: 1px solid rgb(106, 92, 75);
}


.square-card,
.square-card-form,
.square-card-deck {
  margin: 0.5rem;
  width: 4rem;
  height: 6rem;
  border: 1px solid $square-title-font-color;
  padding-top: 1.9rem;
}

.new-card {
  float: right;
  margin-right: 19%;
}

.black {
  color: black;
}

.red {
  color: red;
}

.square-card {
  font-size: 6rem;
  background-color: white;
}

.square-card-deck {
  font-size: 6rem;
  float: right;
  margin-right: 20%;
  background-color: white;
}

.square-table {
  width: 60%;
  float: left;
}

.square-result {
  width: 35%;
  float: left;
}
