@use 'fonts';
@use 'sass:color';

$background-color: #bcb29a;
$background-color-blend: #827765;
$border-color: color.adjust($background-color, $lightness: -50%);

$main-background-color: rgba(238, 235, 227, 0.9);
$body-background-color: rgba(238, 236, 227, 0.6);
$accent-color: #bfd6c0;
$accent-border-color: color.adjust($accent-color, $lightness: -20%);

$title-font-color: #151916;
$font-color: #333;
$link-colors: #353d41;

$square-background-color: #002d0e;
$square-dark-accent-color: #000b04;
$square-title-font-color: #fce8d0;
$square-bread-font-color: #fbf2e5;


$font-header: 'JuliusSansOne-Regular', Calibri, 'Trebuchet MS', sans-serif;
$font-h: 'Questrial-Regular', Cambria, Cochin, Georgia, serif;
$font-main: 'Raleway-Regular', Tahoma, Geneva, Verdana, sans-serif;

$font-square-title: 'Jacques_Francois_Shadow', Cambria, Cochin, Georgia, serif;
$font-square-h: 'ArefRuqaa', Cambria, Cochin, Georgia, serif;
$font-square-main: 'Enriqueta', Tahoma, Geneva, Verdana, sans-serif;

$main-margin: 1.96rem;
$half-main-margin: 0.98rem;
