{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1>Om Kursen MVC</h1>
    <div class="two-column-div">
        <a href="{{ asset('img/mvc.jpg') }}">
            <img src="{{ asset('img/mvc.jpg') }}" alt="">
        </a>
        <p>I kursen MVC s책 f책r man l채ra sig objektorienterad PHP-programmering med k채nda webbramverk, enhetstestning, kodkvalitet och databaskopplingar med objekt relational mapping (ORM).</p>
        <a href="https://github.com/dbwebb-se/mvc">Kursens kursrepo</a>
    </div>
{% endblock %}