{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1>Om Kursen MVC</h1>
    <div class="two-column-div">
        <a href="{{ asset('img/mvc.jpg') }}">
            <img src="{{ asset('img/mvc.jpg') }}" alt="">
        </a>
        <p class="start">I kursen MVC så får man lära sig objektorienterad PHP-programmering med kända webbramverk, enhetstestning, kodkvalitet och databaskopplingar med objekt relational mapping (ORM).</p>
        <a href="https://github.com/dbwebb-se/mvc" target="_blank"><p>Kursens kursrepo</p></a>
        <a href="https://github.com/beckabeckis/mvcrepo" target="_blank"><p>Mitt kursrepo</p></a>
        <p> Kursen tar upp följande: </p>
        <ul>
            <li>
                Programmering i webbmiljö, syntax, semantik, koppling mot databaser, datastrukturer och inbyggda funktioner.
            </li>
            <li>
                Objektorienterad programmering i PHP med språkkonstruktioner och begrepp. Objektorientering som sätt att strukturera och återanvända kod. Enkla designmönster.
            </li>
            <li>
                SQL med en databas tillsammans med PHP Data Objects.
            </li>
            <li>
                Utveckling av webbapplikationer i ett ramverk där tekniker såsom webbserver (Apache), PHP, HTML, CSS, och SQL integreras tillsammans med ett webbaserat ramverk.
            </li>
            <li>
                Användning av verktyg och tekniker som lämpar sig för utveckling av webbapplikationer, tex UNIX/Linux, installation på extern webbserver, ssh, ftp/sftp, databasklienter såsom PHPMyAdmin, MySQL Workbench och kommandoklienter.
            </li>
        </ul>

    </div>
{% endblock %}