{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1>Om mig</h1>
    <p>Mitt namn är Rebecka och jag kommer ursprungligen från Sölvesborg. När jag var 11 år så flyttade min familj och jag till Vallentuna i Stockholm där jag bodde tills jag var 19 och flyttade hemifrån ner till Skåne. Där flyttade jag runt några gånger i Skurup och Ystad men nu har jag landat i lägenhet mitt i Malmö där jag stormtrivs!

    Jag har jobbat med lite olika saker i mitt liv; städning, hotellvärdinna, barnskötare och det senaste jobbet jag hade var CNC-operatör. Det jag gillade mest med det yrket sitta vid datorn och programmera maskinerna. Det var väldigt enkel programmering och det var även mycket grovjobb i en oljig verkstad. Så jag kände att något som jag verkligen ville göra var att jobba med ”riktig” programmering, så det är därför jag är med på denna utbildning nu och det känns det verkligen som att jag har hittat rätt!

    På min fritid så gillar jag det mesta estetiska som till exempel att sjunga, dansa och pyssla.</p>
{% endblock %}