{% extends "base.html.twig" %}

{% block title %}Card shuffle{% endblock %}

{% block body %}
    <h1>Card shuffle</h1>

    {% for card in deck %}
        <p class="card">{{ card}}</p>
    {% endfor %}

{% endblock %}