.slide {
  overflow-y: hidden !important;
  transition: height 0.5s ease-in !important;
}

.nav {
  margin-top: 20px;
}

.nav ul {
  display: flex;
  justify-content: flex-end;
  padding: 1em 0;
  list-style: none;
}

.nav ul li {
  padding: 0 1em;
}

.nav a {
  font-size: large;
  padding: 1em 0;

  text-decoration: none;
  position: relative;

  &::after {
    content: ' ';
    position: absolute;
    height: 1.3px;
    left: 0;
    bottom: 1em;
    width: 0;
    background: $font-color;
    transition: width 0.2s;
  }

  &:hover::after {
    width: 100%;
  }
}

.nav a{
  color: $font-color;
}


// @media (max-width: 767px) {
//   .header {
//     flex-direction: column;
//   }

//   .nav ul {
//     flex-direction: column;
//     padding-bottom: 1em;
//   }

//   .nav ul li {
//     display: flex;
//     flex-direction: column;
//     text-align: center;
//   }

//   .nav ul li a {
//     display: block;
//     padding: 0.5em 1em;
//   }

//   .js .nav-toggle {
//     display: block;
//     float: right;
//     width: 2em;
//     margin: 0.6667em 0;
//     font-size: 1.5rem;
//     line-height: 2em;
//     text-align: center;
//     cursor: pointer;
//   }

//   .nav {
//     margin-top: 0;
//   }
// }
