{% extends "base.html.twig" %}

{% block title %}Api{% endblock %}

{% block body %}
    <h1>All api routes:</h1>
    <ul>
    {% for route in routes %}
        <li><a href="{{ path(route) }}"><p>{{ route }}</p></a></li>
    {% endfor %}
    </ul>
{% endblock %}