{% extends "base.html.twig" %}

{% block title %}Home
{% endblock %}

{% block body %}
	<header>
		<h1>Metrics Redovisning</h1>
	</header>

	<section id="introduktion">
		<h2>Introduktion</h2>
		<p>
		</p>
		<p>
		</p>
		<p>
		</p>
		<p>
		</p>
		<p>
		</p>
	</section>
	
{% endblock %}
