{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1>Seesion</h1>
    <p>Card: {{ card }}</p>
    <p>CardHand: {{ cardHand }}</p>
    <p>DeckOfCards: {{ deckOfCards }}</p>
{% endblock %}