{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
    <header>
        <h1>Redovisning av kursmoment i kursen MVC</h1>
    </header>

    <section id="kmom01">
        <h2>kmom01</h2>
        <p>
            Jag har förra året gått er kurs om objektorienterad pyhton där jag lärde mig mycket om objektorienterad programmering. Jag har även gått några andra kurser tidigare som har intruducerat ämnet, däribland C# intruduktion som handlade mycket om det. Jag känner mig ganska säker kring klasser och metoder men tror att det fortfarande finns mycket att lära sig.
        </p>
        <p>
            Man behöver veta syntaxen som PHP har för att bygga upp objekt och klasser, vilket verkar vara väldigt likanade andra programmeringsspråks syntax. Man behöver förstå skullnaden av ett objekt och en klass. En klass är själva 'modellen' som ett objekt skapas ifrån. En klass bestämmer vilka metoder och liknande ett objekt ska ha, och för varje objekt som man skapar så kan man olika parametrar för att göra objektet anpassat till vad man behöver.
        </p>
        <p>
            Detta är ett helt nytt ramverk för mig, men man kan se likheter i strukturen i symfony och andra ramverk jag har jobbat med innan. Det är mycket nytt och nog det mest komplicerade ramverkat jag har jobbat med, men när man lär sig var man lägger html filer, bilder, css och liknanade så blir det lättare att jobba med den. Jag tykcer att det är kul att lära sig och upp till en viss grad så ju mer kolicerade ramverk ju mer möjligheter finns det för projektet.
        </p>
        <p>
            Allting verkar ju väldigt bra att de har tagit med men om det är några saker som jag skulle vilja lyfta fram så är det 'Documenting your Code' och 'Security'. Att lära sig dokumentera sin kod tycker jag är väldigt viktigt, specciellt när man jobbar med andra men även för sig själv i framtiden, och det är något som jag skulle vilja lära mig göra bättre. Säkerhet blir vikitigare och viktigare i dagens samhälle och det är något som jag känner att jag inte kan så bra än men vill gärna bli väldigt bra på.
        </p>
        <p>
            Jag har lärt mig väldigt mycket nytt denna veckan, men mitt TIL för denna kmom blir att jag har märkt att jag har mycket bättre koll på filsystemet och hur saker hänger ihop, specciellt i ett mer komplicerat ramverk som symfony.
        </p>
    </section>
    <section id="kmom02">
        <h2>kmom02</h2>
        <p>Redovisningstext för kmom02</p>
    </section>
    <section id="kmom03">
        <h2>kmom03</h2>
        <p>Redovisningstext för kmom03</p>
    </section>
    <section id="kmom04">
        <h2>kmom04</h2>
        <p>Redovisningstext för kmom04</p>
    </section>
    <section id="kmom05">
        <h2>kmom05</h2>
        <p>Redovisningstext för kmom05</p>
    </section>
    <section id="kmom06">
        <h2>kmom06</h2>
        <p>Redovisningstext för kmom06</p>
    </section>
    <section id="kmom10">
        <h2>kmom10</h2>
        <p>Redovisningstext för kmom10</p>
    </section>
{% endblock %}